:root {
  --header-bg: #004e71;
  --primary-bg-color: #f7f7f7;
  --secondary-bg-color: #0077f9;
  --color-white: #ffffff;
  --primary-textcolor: #115475;
  --white-textcolor: #ffffff;
  --secondary-textcolor: #6a95aa;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  margin-bottom: 100vh;
}

h1 {
  font-size: 3rem;
}

.strong {
  font-weight: bold;
}

/* HEADER ------------------------------------------------------ */

.main_header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  color: var(--color-white);
  padding: 0.5rem 3rem 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main_header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main_logo {
  width: 25%;
}

.header_btn {
  display: block;
  background-color: #e87c25;
  text-decoration: none;
  color: var(--color-white);
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  border: 1px solid var(--primary-bg-color);
  text-transform: uppercase;
  text-align: center;
}

/* HERO CONTENT --------------------------------------------------- */

.hero_primarybg {
  background-color: var(--primary-bg-color);
}

.hero_container {
  display: flex;
  max-width: 80%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  margin: auto;
}

.hero_content_text {
  color: var(--secondary-textcolor);
}

.hero_title {
  color: var(--primary-textcolor);
  line-height: 1;
  margin-bottom: 2rem;
}

.hero_subtitle {
  margin-bottom: 2rem;
}

.hero_text {
  margin-bottom: 2rem;
}

.hero_width {
  max-width: 77%;
}

.hero_subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.hero_image_container img {
  position: relative;
  height: 29.25rem;
  width: 22.5rem;
  bottom: -5px;
  right: 8em;
}

/* MAIN ----------------------------------------------------------- */
/* CONVERSION SECTION --------------------------------------------- */

.conversion_bg {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: var(--secondary-bg-color);
  color: var(--white-textcolor);
  text-align: center;
}

.conversion_title {
  font-size: 2.25rem;
  font-weight: 300;
}

.conversion_cta {
  font-size: 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-bg-color);
  padding: 1rem 2rem;
  margin: 2rem auto 0.75rem;
  color: var(--primary-textcolor);
  transition: box-shadow 0.3s;
}

.conversion_cta:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.conversion_text {
  font-weight: 300;
}
